@charset "utf";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   overflow-x: hidden;
}
.heading{
    width: 100%;
    text-align: center;
    /* background-color: blueviolet; */
    background-color: #22181c;
    color: #ffefef;
    font-family: sans-serif;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    padding: 15px;
    font-size: 30px;
}

#code_box{
    background-color: rgb(112, 218, 121);    
    border-radius: 3px;
    margin: 20px auto;
    height: 500px;
    width: 90%;
}

legend{
    /* border: 5px solid yellow; */
    background-color: rgb(112, 218, 121);
    border: 2px solid gray;
    padding: 10px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

#code{
    background-color: rgb(37, 35, 35);
    color: #6E026F;
    width: 100%;
    height: 90%;
    border: none;
    padding: 20px;
    font-size: 18px;
    outline: none;
}

#run_btn{
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    border: none;
    /* outline: none; */
    background-color: rgb(243, 245, 245);
    color: rgb(37, 36, 36);
    font-weight: bold;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
    font-size: 17px;
}
#run_btn:hover{
    background-color: rgb(118, 33, 158);
    background-color: rgb(112, 218, 121);
    color: rgb(19, 18, 18);
    transition: all 0.2s ease-in;
}

#result{
    width: 100%;
    height: 93%;
    /* overflow: scroll; */
    overflow-y: scroll;
    padding: 15px;
}

#result_box{
    border-radius: 3px;
    display: none;
    margin: 20px auto;
    width: 90%;
    height: 500px;
}

/* .animation{
    transition: linear 2s ease;
   transition: all 4s ease-in;
} */

#icon{
    background-color: rgb(222, 231, 223);
    border: 1px solid rgb(112, 218, 121);
    outline: none;
    border-radius: 5px;
    display: none;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    font-size: 17px;
}
#icon:hover{
    background-color: rgb(112, 218, 121);
    color: rgb(2, 2, 2);
    transition: all 0.2s ease-in;
}

.btnd{
    margin:auto;
    padding: 5px;
}
#download{
    background: rgb(97, 49, 220);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    width: 130px;
    cursor:pointer;
}

#filename{
    width: 170px;
    outline: none;
    border: 2px solid rgb(71, 45, 187);
    border-radius: 2px;
    color:rgb(0, 0, 0);
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin-right: 10px;
   }

